.con-1{
    background-color: hotpink;
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    flex-direction: row;
    margin-right: 10px;
    padding: 7%;

}

.con-2{
    background-color: darkcyan;
    padding: 10%;
    float: left;
    padding-left: 70px;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;

 
    
}

.con-3{
    background-color: blueviolet;
    padding: 5%;
    float: right;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;

}