body{
    background: rgb(131, 136, 231);
}


.fix-con{
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 102, 0);
    margin-bottom: 30px;
    position: fixed;

}

.ab-con{
    position: absolute;
    bottom: 0px;
    left: 10vw;
    height: 100px;
    width: 200px;
    background: white;
    
}


.con-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height:200px;
    gap: 20px;
    margin-bottom: 30px;

}

.con1{
    background: blue;
    
}
.con2{
    background-image: url('get-to-know-the-peaky-blinders-suit-style-776997.webp');
    background-size: 100%;
    
}
.con3{
    background: rgb(7, 47, 87);
}
.con4{
    background: lightcoral;
}

@media screen and (max-width:660px){
    .con-main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}