
body{
    background-color: #F7F7F7;
}

.con-1{
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 #e4e0e0;
    padding: 24px;
    margin: auto;
    width: 22%;
    height: 350px;
    padding: 10px;
    margin-top: 4%;
    
}
img{
    padding-left: 37%;
    width: 25%;
}
h1{
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 14%;
    font-size: 170%;
}
.control-label{
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: rgb(130, 127, 127);
    font-weight: bolder;
    padding-left: 17px;
}
input:hover{
    border-radius: 1px;
    border-style:solid;
    border-color: #0FADFF;
}
input{
    background-color: #F7F7F7;
    height: 12%;
    margin-top: 3%;
    width: 90%;
    margin-left: 15px;
    border-radius: 5px;
    border-style: hidden;
    
}
#q{
    color: #0FADFF;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    margin-left: 22%;
    text-decoration: none;
}
button:hover{
    background-color: #7f6cc8;
}
button{
    background-color: #0FADFF;
    color: #fff;
    margin-left: 37%;
    width: 25%;
    height: 10%;
    border-radius: 2cqmax;
    border-style: none;

}
.para{
    padding-left: 44%;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.con-2{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    height: 37vh;
    width:
}
.sc-1{
    grid-gap: 20vh;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.sc-2{
    grid-gap: 20vh;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.sc-3{
    grid-gap: 20vh;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.sc-4{
    grid-gap: 20vh;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.font-1{
    color: #656B73;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.font-2{
    color: #656B73;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.font-3{
    color: #656B73;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.font-4{
    color: #656B73;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
}