
body{
    background-color: #F2F2F2;
}

.con-1{
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 #e4e0e0;
    padding: 24px;
    margin: auto;
    width: 22%;
    height: 350px;
    padding: 10px;
    margin-top:3%;
    box-shadow: #656B73 10vh;
    
    
}
img{
    padding-left: 37%;
    width: 25%;
}
h1{
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #16191c;
    margin-left: 14%;
    font-size: 170%;
}
.control-label{
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: rgb(130, 127, 127);
    font-weight: bolder;
    padding-left: 17px;
}
input:hover{
    border-radius: 5px;
    border-style:solid;
    border-color: #0FADFF;
    border-width: 1px;
}
input{
    background-color: #F7F7F7;
    height: 12%;
    margin-top: 3%;
    width: 90%;
    margin-left: 15px;
    border-radius: 5px;
    border-style: hidden;
    
}
#q{
    color: #0FADFF;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    margin-left: 22%;
    text-decoration: none;
    font-weight: bold;
}
button:hover{
    background-color: #7f6cc8;
}
button{
    background-color: #0FADFF;
    color: #fff;
    margin-left: 37%;
    width: 25%;
    height: 10%;
    border-radius: 2cqmax;
    border-style: none;

}
#signup{
    color: black;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
}
.para{
    padding-left: 44%;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}
.con-2{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    height: 42vh;
    
    
    
}
.sc-1{
    line-height: 28px;
    margin-left: 30vh;
    margin-right: 11vh;
    margin-top: 5vh;
    grid-gap: 10vh;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    

}
.sc-2{
    line-height: 28px;
    grid-gap: 10vh;
    margin-top: 5vh;
    margin-right: 7vh;
    width: 30vh;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.sc-3{
    line-height: 28px;
    grid-gap: 10vh;
    margin-top: 5vh;
    width: 30vh;
    margin-right: 7vh;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.sc-4{
    line-height: 28px;
    grid-gap: 10vh;
    margin-top: 5vh;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.font-1{
    color: #656B73;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    
}
.font-2{
    color: #656B73;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.font-3{
    color: #656B73;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.font-4{
    color: #656B73;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
}
#q1{
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
select{
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    border-radius:5px;
    width: 25vh;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  select:focus{
    outline:none;
  }
  #comp-1{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #comp-1:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #comp-2{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #comp-2:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #comp-3{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #comp-3:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #comm-1{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #comm-1:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #comm-2{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #comm-2:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #comm-3{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #comm-3:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #advert-1{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #advert-1:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #advert-2{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #advert-2:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #advert-3{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #advert-3:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #advert-4{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #advert-4:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #advert-5{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #advert-5:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #legal-1{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #legal-1:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #legal-2{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #legal-2:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #legal-3{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #legal-3:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #legal-4{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #legal-4:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #legal-5{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #legal-5:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #legal-6{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #legal-6:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  #legal-7{
    color: #656B73;
    text-decoration: none;
    position: relative;
  }
  #legal-7:hover{
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #0FADFF;
  }
  .con-3{
    background-color: #262626;
    height: 10vh;
    width: 100%;
  }
  #last{
    position: relative;
    margin-left: 30vh;
    margin-right: 3vh;
    text-decoration: none;
    color: #656B73;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  #last:hover{
    color: white;
    text-decoration-line: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 2px;
  }
  #last-1{
    position: relative;
    text-decoration: none;
    color: #656B73;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  #last-1:hover{
    color: white;
    text-decoration-line: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 2px;
  }




  @media(max-width: 952px)
  {
    .con-1{
      width: 45vh;
      margin-top: 7vh;
    }
    .para{
      padding-left: 38%;
    }
    .sc-1{
      margin-left: 4vh;
      width: 10vh;
      margin-right: 13vh;
    }
    .sc-2{
      width: 17vh;
      margin-right: 7vh;
    }
    .sc-3{
      width: 20vh;
      margin-right: 5vh;
    }
    .sc-4{
      width: 17vh;
    }
    .con-2{
      height: fit-content;
    }
    #q1{
      margin-top: 8vh;
    }
    select{
      width: 18vh;

    }
    #last{
      margin-left: 4vh;
    }
  }
  
  
  