.box{
    background-color: rgb(204, 194, 194);
    border-radius: 5px;
    margin: 7px;
    padding: 10px;
    flex: 1 0 100px;
}
.flex-container{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    gap: 10px;

}
.con1{
    background-color: aqua;
    align-content: start;
    height: 100px;
    padding-left: 600px;
    
}
.con3{
    background-color: aqua;
    align-content: start;
}



